
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding-top:150px;">

    <h2 class="alert alert-success" role="alert">
        <i class="fas fa-check"></i>       
        Siparişiniz başarılı şekilde oluşturuldu.
    </h2>
    <h4>
        <i class="fas fa-info-circle"></i>
    Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</h4>
</div>
